.productSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.productContainer {
    width: 300px;
    height: 450px;
    position: relative;
    margin: 22px;
    box-sizing: border-box;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.bookmark {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: black;
}

.productView {
    width: 100%;
    height: 70%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.productView img{
    width: auto;
    max-width: 250px;
    height: 70%;
}

.productDetails {
    backdrop-filter: blur(0px);
    padding: 8px 12px;
}

.price span {
    margin: 0 2.5px;
}

.price span:nth-child(1) {
    font-size: 1.2rem;
    font-weight: 500;
}
.price span:nth-child(2) {
    text-decoration: line-through;
    font-size: 0.7rem;
}
.price span:nth-child(3) {
    color: green;
    font-size: 0.8rem;
}

.title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 45px;
}
.price{
    position: relative;
    bottom: 6px;
}

.shop{
    position: absolute;
    bottom: 25px;
    right: 35px;
    font-size: 1.5rem;
    cursor: pointer;
}

.shop:hover{
    color: lightblue;
}